
CONFIG VCCAUX  = 3.3;

NET "CLK20" PERIOD = 20 MHz;
NET "CLK20" LOC = P87;
NET "CLK20" IOSTANDARD = LVCMOS33;

# PMOD
NET "PMOD0[0]" LOC = P102 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[1]" LOC = P100 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[2]" LOC = P98  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[3]" LOC = P95  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
